<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title mode=ios>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card id="card">
    <ion-card-content>
      <form [formGroup]="registerform">

        <ion-item>
          <ion-label position="floating" color="primary">Nombre Usuario*:</ion-label>
          <ion-input type="string" formControlName="username"></ion-input>
        </ion-item>
        <p
          *ngIf="registerform.controls['username'].hasError('required') && (registerform.controls['username'].dirty || registerform.controls['username'].touched || pulsado)">
          <ion-label color="danger">Debes rellenar este campo</ion-label></p>
        <p
          *ngIf="!registerform.controls['username'].hasError('required') && registerform.controls['username'].hasError('validUsername') && (registerform.controls['username'].dirty || registerform.controls['username'].touched || pulsado)">
          <ion-label color="danger">Este nombre de usuario ya existe</ion-label></p>

        <ion-item>
          <ion-label position="floating" color="primary">Nombre:</ion-label>
          <ion-input type="string" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Apellidos:</ion-label>
          <ion-input type="string" formControlName="apellidos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Email:</ion-label>
          <ion-input type="string" formControlName="email"></ion-input>
        </ion-item>
        <p
          *ngIf="!registerform.controls['email'].hasError('required') && registerform.controls['email'].hasError('email') && (registerform.controls['email'].dirty || registerform.controls['email'].touched || pulsado)">
          <ion-label color="danger">Debes introducir un email válido</ion-label></p>
        <p
          *ngIf="!registerform.controls['email'].hasError('required') && registerform.controls['email'].hasError('validEmail') && (registerform.controls['email'].dirty || registerform.controls['email'].touched || pulsado)">
          <ion-label color="danger">Este email ya está en uso</ion-label></p>

        <div style="text-align: center;">
          <ion-button color="secondary" (click)="register()">
            REGISTRAR
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>